---
layout: page
title: Tags 
---

<div class="page-content wc-container">
  <div class="post">
    <h1>Tags</h1>  
    {% for category in site.categories %}
    <h3>{{ category | first }}</h3>
      <ul class="posts">
        {% for posts in category %}
        {% for post in posts %}
        {% if post.url %}
        <li><a href="{{site.url}}{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </ul>
   
    {% endfor %}
  </div>
</div>
