<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ site.name }}{% if page.title %} | {{ page.title }} {% endif %}</title>
  <meta name="theme-color" content="#222222" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ site.url}}{{site.baseurl}}/js/jquery.min.js"></script>
  <script src="{{ site.url}}{{site.baseurl}}/js/bootstrap.min.js"></script>
  <script src="{{ site.url}}{{site.baseurl}}/js/header.js"></script>
  <script src="{{ site.url}}{{site.baseurl}}/js/toc.js"></script>
  <link href="{{ site.url}}{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.url}}{{site.baseurl}}/css/theme.css" rel="stylesheet">
  <link href="{{ site.url}}{{site.baseurl}}/css/syntax.css" rel="stylesheet">
  <link href="{{ site.url}}{{site.baseurl}}/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

